<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>570237932354-gesnum249n2vvisqot428qivfomfd0d3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.570237932354-gesnum249n2vvisqot428qivfomfd0d3</string>
	<key>API_KEY</key>
	<string>AIzaSyAdyvEitCZBpdory5lHi74_jDObyDkRNOw</string>
	<key>GCM_SENDER_ID</key>
	<string>570237932354</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.ucla.cs205.905226462.contact-tracer</string>
	<key>PROJECT_ID</key>
	<string>contact-tracer-a1918</string>
	<key>STORAGE_BUCKET</key>
	<string>contact-tracer-a1918.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:570237932354:ios:b890cf8117ca5e9f902edb</string>
	<key>DATABASE_URL</key>
	<string>https://contact-tracer-a1918.firebaseio.com</string>
</dict>
</plist>